<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventorykosmetik">

    <application

        android:allowBackup="true"
        android:icon="@mipmap/logoku"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logoku"
        android:supportsRtl="true"
        android:theme="@style/Theme.InventoryKosmetik">
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name="com.example.inventorykosmetik.MainUpdel"></activity>
        <activity android:name="com.example.inventorykosmetik.MainRead"></activity>
        <activity android:name="com.example.inventorykosmetik.MainCreate"></activity>
        <activity android:name="com.example.inventorykosmetik.MainActivity"></activity>

    </application>


</manifest>